<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="#">PIQ</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="page1">page1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="page2">page2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="manager">manager</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" (click)="show=!show">
                Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" [ngClass]="{show: show === true}">
                <a class="dropdown-item" routerLink="link1">Link 1</a>
                <a class="dropdown-item" routerLink="link2">Link 2</a>
                <a class="dropdown-item" routerLink="link3">Link 3</a>
            </div>
        </li>ng server
        
    </ul>

    <ul class="navbar-nav navbar-left">
      <li class="nav-item dropdown ml-auto">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" (click)="show2=!show2">Part 1</a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" [ngClass]="{show: show2 === true}">
              <li><a class="dropdown-item" href="/page1">Page 1</a></li>
              <li><a class="dropdown-item" href="/page2">Page 2</a></li>
              <li><a class="dropdown-item" href="/manager">Manager</a></li>
              <li><a class="dropdown-item" href="/link3">Link 3</a></li>
              <li><div class="dropdown-divider"></div></li>
              <li><a class="dropdown-item" href="/link1">Link 1</a></li>
              <li class="dropdown-submenu ml-auto" >
                <a href="#" class="dropdown-toggle dropdown-menu-right" data-toggle="dropdown" (click)="show4=!show4">Other</a>
                <ul class="dropdown-menu" [ngClass]="{show: show4 === true}">
                    <li><a  class="dropdown-item" href="/link1">Link 1</a></li>
                    <li><a  class="dropdown-item" href="/link2">Link 2</a></li>
                    <li><a  class="dropdown-item" href="/link3">Link 3</a></li>
                </ul>
            </li>
          </div>
      </li>
  </ul>

    <ul class="navbar-nav navbar-right">
      <li class="nav-item dropdown ml-auto">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" data-toggle="dropdown" (click)="show3=!show3">Part 2</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown2" [ngClass]="{show: show3 === true}">
            <a class="dropdown-item" href="/page1">Page 1</a>
            <a class="dropdown-item" href="/page2">Page 2</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/link2">Link2</a>
        </div>
    </li>
    </ul>
</div>


</nav>
